.menu-link {
    font-weight: 500;
    font-size: 1.05rem;
    letter-spacing: 0;
    text-transform: none;
}

.services-grid .feature-box {
    padding: 32px !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: .5rem;
    border: 1px solid rgb(233, 233, 233);
    background-color: #f6f6f6c6;
    // color: white;
}

.services-grid .feature-box:hover {
    background-size: cover;
}

.services-grid .feature-box,
.services-grid .feature-box .fbox-icon,
.services-grid .feature-box .fbox-content,
.hover-button {
    transition: all .4s ease, border-color .0s ease;
}

.heading-block h3 {
    font-size: 2.1rem;
    line-height: 1.3 !important;
}

.page-section {
    padding: 120px 0;
}

.heading-block h2 {
    font-weight: 500;
    letter-spacing: 3px;
}

.mt-n3 {
    margin-top: -1rem !important;
}

.icon-stacked{
    margin: auto;
}

.h-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.faqs .toggle {
    padding-bottom: 12px;
    margin-bottom: 12px;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.faqs .toggle-content {
    padding-bottom: 10px;
}

#formHeader {
    opacity: 1.19515;
    padding: 4rem 32px;
    .heading-block {
        margin-bottom: 2rem!important;
    }
    .input-group {
        padding: 0!important;
    }
}

.hover-button {
    display: block;
    margin-top: 20px;
    font-weight: 600;
}

.main-button:hover {
    color: var(--main-button-hover-color)!important;
    background-color: var(--main-button-hover-bg-color)!important;
}


.formHeaderWrapper {
    max-width: 500px;
}

#hiw {
    width: 100%;
}

@media (max-width: 767.98px){
    .heading-block h2+span, .heading-block .h2+span {
        font-size: 18px;
    }

    .formHeaderWrapper {
        max-width: 100%!important;
    }

    #formHeader {
       width: 100%;
    }
}


@media screen and (max-width: 400px) {
    .whyus-button {
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {
    #hiw {
        width: 85%;
    }

    .comfortBG {
        background-image: unset!important;
        padding: 5rem 0!important;
    }

    .toggle-title, .toggle-content {
        font-size: 0.8rem;
    }
}

.main-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 163%;
    background-color: var(--main-button-color);
    border-radius: 5px !important;
    width: 100%;
    max-width: min(200px, 100vw);
    height: 46px;
    color: #ffffff ;
    border-width: 0;
    transition: visibility 0s, opacity 0.5s linear;
    text-transform: uppercase;
    padding-top: 12px !important;

    .main-btn-span {
        top: 0;
        filter: brightness(0.9);
        right: 0;
        padding: 11px 20px 0;
        height: 100%;
    }

    span:first-child{
        color: white !important;
        margin-right: 30px;
    }
}

.main-button:hover span {
    opacity: .9;
    color: var(--main-button-hover-color) !important;
    transition: color 0.15s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (max-width: 576px) {
    #whyus, #content2, #section-works {
        .main-button {
            max-width: unset;
        }
    }

    #formHeader {
        margin-top: 5rem;
        padding: 0 !important;
    }
}

@media (min-width: 992px) {
    .w-lg-30 {
        width: 30%!important;
    }

    .services-grid .feature-box {
        padding: 3rem;
        background-size: 0;
    }

    .services-grid .feature-box:hover {
        transform: translateY(-6px);
    }

    .services-grid .feature-box:not(:hover) .hover-button {
        opacity: 0;
        transform: translateY(-5px);
    }

    .services-grid .feature-box .fbox-icon,
    .services-grid .feature-box .fbox-content {
        transform: translateY(20px);
    }

    .services-grid .feature-box:hover .fbox-icon,
    .services-grid .feature-box:hover .fbox-content {
        transform: translateY(0px);
    }

    .heading-block h3 {
        font-size: 2.5rem;
        line-height: 1.3 !important;
    }

    .hero-title.display-3 {
        font-size: 4.25rem;
        letter-spacing: -3px;
    }
}
